body {
    background-image: url('../Images/background_image.jpg');
    background-size: cover;
}

.registration_form {
    position: absolute;
    width: 400px;
    height: 440px;
    z-index: 15;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background-color: gainsboro;
    border: 3px solid green;
    padding: 10px;
    text-align:center;
}

.title {
    font-size: x-large;
    font-weight: bolder;
    padding: 6px 15px;
    color: #4CAF50;
    text-align: center;
}

a {
    float: right;
}

p {
    text-align: center;
}

.entry {
    position: fixed;
    left: 50%;
    top: 50%;
}

#registerButton {
    right: 39%;
}

.error {
    color: red;
    text-align: center;
}
